@use "../../sass/mixin" as *;

.task-container {
  background-color: #edebeb;
  // flex-grow: 4;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #000000b4;
  }

  @include respond(tab-port) {
    width: 100%;
  }
}

.task {
  display: flex;
  gap: 4rem;
  background-color: transparent;
  padding: 1.5rem;
  align-items: center;
  width: 100%;
  transition: all 0.5s;
  flex-wrap: wrap;

  &:hover {
    background-color: #c6bfc167;
  }

  & input {
    display: none;
  }

  &__text {
    font-size: 2rem;
    width: 60%;

    &:has(~ .task__checkbox-input:checked) {
      text-decoration: line-through;
    }
  }

  &__priority {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: auto;
    gap: 0.2rem;
    position: relative;

    &-dropdown {
      font-size: 1.8rem;
      background-color: transparent;
      border: 0;
      padding: 0.2rem 1rem;
      padding-right: 2.5rem;
      appearance: none;
    }

    &-arrow {
      position: absolute;
      top: 0;
      right: 0rem;
      filter: invert(1);
      font-size: 1.8rem;
      pointer-events: none;
    }
  }

  &__delete {
    height: 3rem;
    width: 3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;

    &:hover {
      background-color: #d64c7f;
    }

    &:hover &-img {
      filter: invert(1);
    }

    &-img {
      height: 2rem;
    }
  }

  &__checkbox {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 0.2rem;
    transition: all 0.5s;

    &:hover {
      background-color: #d64c7f;
    }

    &:hover &-img {
      filter: invert(1);
    }

    &-img {
      // margin-top: 0.75rem;
      height: 2.25rem;
    }
  }
}

.active {
  background-color: #d64c7f;
  border-radius: 4px;
}
